h1,h2{
    text-align: center;
}
#gen_chart, #add_option{
    font-size: 13px;
    font-weight: bold;
    margin-top: 30px;
    width: 90px;
    height: 40px;
    border: black 2px solid;
    border-radius: 5px;
    outline: none;
}

#gen_chart{
    display: block;
    margin: 20px auto;
}
#gen_chart:hover, #add_option:hover{
    color: white;
    background-color: black
}
.option_info{
    font-size: 18px;
    display:flex;
    justify-content: space-evenly;
    width: 750px;
    border: solid black 2px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}
.option_type, .option_strategy{
    display:flex;
}
.options{
    display: flex;
    flex-flow: column;
    align-items: center;
}

#chart-div{
    width: 100%;
}
#chart-div div{
    width: 63%;
    margin: 0 auto;
}

.delete{
    border: 0.5px solid red;
    color: red;
    border-radius: 5px;
}
.delete:hover{
    border: 0.5px solid white;
    color: white;
    background-color: red;
}

.email-form{
    width: 100%;
    margin-bottom: 50px;
}
.email-form form{
    width: 200px;
    margin: 0 auto;
}
.email-form input {
    height: 20px;
    width: 120px;
    border: 2px solid navy;
    border-radius: 5px;
    margin-bottom: 5px;
}
#email-input{
    width: 150px;
}
.plot-section{
    display: flex;
    justify-content: center;
}
.plot{
    border: 2px solid green;  
}